@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Varela+Round&display=swap');
@import url('https://fonts.cdnfonts.com/css/lovelo');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
}

header{
    display: flex;
    align-items: center;
    padding: 1rem;
   background-color:rgba(245, 46, 46, 0.26);
    height: 50px;
}

a{
    text-decoration: none;
}

#titulo{
    font-family: "lovelo", system-ui;
    font-size: 2rem;
     color:rgb(0, 0, 0);
}


#repass{
    border-radius: 100%;
    padding: 0.5rem;
    
}

#descTitulo {
    font-size: 0.875rem;
   color:rgb(0, 0, 0);
    margin-left: 0.9rem;
    margin-top: 1rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.Pacotes{
     font-size: 2rem;
    color:rgb(245, 46, 46);
}

.feche{
     font-size: 1rem;
    color: rgb(236, 54, 54);
}

.pacotes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    margin: 1rem;
    margin-top:2rem;
}

.pacote{
    background-color: rgba(216, 67, 67, 0.349);
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    width: 300px;
}

.pacote h2{
    font-size: 1.5rem;
    color: rgb(199, 12, 12);
    font-weight: bold;
}

.pacote .desc{
    font-size: 1rem;
    font-weight: 500;
    color: rgb(199, 12, 12);
    margin-top: 1rem;
}

.pacote .preco{
    font-size: 1.25rem;
    font-weight: bold;
    color: rgb(199, 12, 12);
    margin-top: 0.5rem;
}

.pacote button{
    background-color: rgb(199, 12, 12);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 1rem;
}

footer{
  background-color: rgb(244, 173, 173);
    text-align: center;
    padding: 1rem;
   color:rgb(205, 20, 20);
    font-weight: 700;
    position: fixed;
    bottom: 0;
    width: 100%;
}
