body{
    font-family: "Varela Round", sans-serif;
    background:#ffffff;
    font-optical-sizing: auto;
    font-size: 1.4rem;
}

#titulo{
    font-family: "Caesar Dressing", system-ui;
    font-weight: 400;
    font-style: normal;
    color:rgb(5, 54, 170);
}

#descTitulo{
    text-align: center;
}

header{
    display:flex;
    gap: 20px;
}