body{
    font-family: sans-serif;
    background:#ffffff;
    text-align:center;
    margin-top:100px;
    font-optical-sizing: auto;
  font-size: 1.4rem;
}
h1{
    font-family: "Caesar Dressing", system-ui;
     font-size: 3.0rem;
    font-style: normal;
    color:rgb(5, 54, 170);
}

button{
    padding:25px 25px;
    border:none;
    border-radius:10px;
    background:rgb(5, 54, 170);
    color:white;
    cursor:pointer;
    font-size: 1.5rem;
    font-family: "Caesar Dressing", system-ui;
}
nav{  font-family: "Caesar Dressing", system-ui;
      font-size: 1.5rem;

}
div{ font-family: "Caesar Dressing", system-ui;
          font-size: 1.5rem;
}